<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <title>blog yu</title>

    </head>
    <body>
        
        <nav>
           <div class="site-title">
               <a href="/"><h1>blog yu </h1></a>
               <p>A yu site</p>
           </div>
           <ul>
               <li><a herf="/">Blogs</a></li>
               <li><a herf="/about">About</a></li>
               <li><a herf="/blogs/create">New Bloge</a></li>

           </ul>
        </nav>
        <div class="blogs content">
            <h2>All Blogs</h2>
        </div>

    </body>
</html>